<div class = "container-fluid">
  <div class = "row">

  </div>
  <div class = "row">
    <div class = "col-8">
      <table class = "table">
        <thead>
          <tr>
            <th>#</th>
            <th>Task</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
            <th> Complete </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let task of tasks">
            <td>{{task.id}}</td>
            <td class = "titulo" (click)="onSelected(task)">{{task.title}}</td>
            <td><div class = "box {{ (task.status) ? 'true' : ''}}"> </div></td>
            <td>
              <button class = "btn btn-primary">Edit</button>
            </td>
            <td>
              <button class = "btn btn-danger" (click)="deleteTask(task)">Delete</button>
            </td>
            <td>
              <button class = "btn btn-success" (click)="completeTask(task)">Complete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-4" *ngIf="selected">
      <app-task-detail [taskDetail]="selectedTask"></app-task-detail>
    </div>
  </div>
</div>
